.container-toggle{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #252525;
    color: #fff;
    display: grid;
    grid-template-rows: 10% auto 10%;
    height: 100%;
    width: 45%;
    z-index: 1;
    animation-name: menu;
    animation-duration: 1.5s;
}
.container-toggle header{
    margin-top: 15px;
    width: 95%;
    text-align: right;
}
.container-toggle header button, .container-menu button{
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fff;
    color: #252525;
    border: 0;
    border-radius: 7px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
}
.container-toggle main{
    margin-top: 7%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
.container-toggle main button{
    width: 94%;
    margin-top: 15px;
    padding: 15px;
    background-color: #fff;
    color: #252525;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    border: 0;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
}
.container-toggle main button:hover{
    background-color: #999797;
    transition: all 0.3s;
}
.container-toggle .favicon-toggle, .container-toggle .favicon-toggle a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}
.container-toggle .favicon-toggle{
    width: 100%;
    text-align: center;
}
.container-toggle .favicon-toggle a{
    color: #999797;
    text-decoration: none;
    transition: all 0.3s;
}
.container-toggle .favicon-toggle a:hover{
    color: #fff;
    transition: all 0.3s;
}
.container-menu{
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 20%;
    animation-name: Open;
    animation-duration: 1.5s;
}
.container-menu button{
    margin-top: 15px;
    margin-left: 15px;
}
.container-menu button i, .container-toggle header button i{
    font-size: 1.5rem;
}
.container-toggle header button:hover, .container-menu button:hover{
    background-color: #999797;
    transition: all 0.3s;
}

@keyframes menu{
    0%{
        left: -45%;
    }
    100%{
        left: 0%;
    }
}
@keyframes Open{
    0%{
        left: 30%;
    }
    100%{
        left: 0%;
    }
}
@media(max-width: 750px) and (max-height: 480px){
    .container-toggle header{
        margin-top: 10px;
    }
    .container-toggle header button{
        padding: 6px;
    }
}
@media(max-width: 420px){
    .container-toggle{
        width: 60%;
    }
}
