
body{
  color: black;
  overflow-y: hidden;
  overflow-x: hidden;
}
.container-dark{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: black;
  transition: 0.5s;
}
.container-light{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: white;
  transition: 0.5s;
}
.container-light .dark-light button, .container-light .container-menu button{
  background-color: black;
  transition: 0.5s;
}
.container-light .dark-light button, .container-light .am-pm-24 button, .container-light .seconds button, .container-light .container-menu button{
  color: white;
  border: 2px solid white;
}
.dark-light button, .am-pm-24 button, .seconds button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  outline: none;
  transition: 0.5s;
  padding-top: 6px;
  cursor: pointer;
  border: 2px solid black;
}
.dark-light button{
  left: 25px;
}
.am-pm-24 button{
  left: 100px;
}
.seconds button{
  left: 175px;
}
.link-favicon{
  position: absolute;
  top: 15px;
  right: 20px;
  height: 50px;
  color: #bebdbd;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}
.link-favicon a{
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.5s;
}
.container-light .link-favicon a{
  color: black;
}
.container-dark .link-favicon a{
  color: #fff;
}
.am-pm-24 button, .seconds button{
  font-size: 1.1rem;
  font-weight: 600;
  padding-top: 0px !important;
}
.dark-light button i{
  font-size: 1.7rem;
}
.clock{
  display: flex;
  flex-direction: row;
  width: 80vw;
  justify-content: space-around;
  margin-top: 2%;
}
.clock .time, .falseSecond{
  padding: 5px;
  margin: 15px;
  background-color: rgb(27, 25, 25);
  color: #bebdbd;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-align: center;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: 0.5s;
  animation-name: clock;
  animation-duration: 1.2s;
}
.clock .falseSecond, .time{
  animation-name: time;
  animation-duration: 1.2s;
}

@keyframes time{
  0%{
    left: -100%;
  }
  100%{
    left: 0%;
  }
}
@keyframes clock{
  0%{
    left: 100%;
  }
  100%{
    left: 0%;
  }
}

.clock .time{
  width: 400px;
  font-size: 15rem;
}
.clock .falseSecond{
  width: 600px;
  font-size: 17rem;
}
.clock .time span, .falseSecond span{
  font-size: 1.2rem;
  position: absolute;
  top: 85%;
  left: 85%;
}
.dateNow{
  position: relative;
  color: white;
  width: 100vw;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 5%;
}
.container-light .dateNow{
  color: black;
}
.container-dark .dark-light button:hover, .am-pm-24 button:hover, .seconds button:hover{
  background-color: black;
  color: white;
  border-color: white;
}

.container-light .dark-light button:hover, .am-pm-24 button:hover, .seconds button:hover{
  background-color: white;
  color: black;
  border-color: black;
}

@media(max-width: 950px){
  .clock{
    width: 100vw;
    justify-content: center;
    align-items: center;
  }
  .clock .time{
    width: 200px;
    font-size: 11rem;
    padding: 2%;
    margin: 12px;
  }
  .clock .falseSecond{
    width: 400px;
    font-size: 12rem;
  }
  .dateNow{
    margin-top: 5%;
    margin-bottom: 0;
  }
}
@media(max-width: 750px){
  .clock .time{
    width: 40%;
    font-size: 7rem;
  }
  .clock{
    flex-direction: column;
  }
  .clock .time span{
    top: 80%;
    left: 80%;
  }
  .dateNow{
    font-size: 1.1rem;
    margin-top: 40px;
  }
}
@media(max-width: 750px) and (max-height: 480px){
  .clock{
    flex-direction: row;
  }
  .clock .falseSecond{
    font-size: 8rem;
    width: 35%;
  }
  .dateNow{
    font-size: 1.3rem;
    margin-top: 0;
  }
}
@media(max-width: 480px){
  .clock .time{
    width: 50%;
  }
  .dateNow{
    margin-top: 7%;
  }
  .dark-light button{
    top: 2%;
  }
  .clock .falseSecond{
    width: 250px;
    font-size: 10rem;
  }
  .clock .time span, .falseSecond span{
    top: 80%;
    left: 80%;
  }
  .link-favicon{
    right: 2px;
    font-size: 0.7rem;
  }
  .link-favicon a{
    font-size: 0.8rem;
  }
}
